<?xml version="1.0"?>
<model>
  <name>RotorHeadCW</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A helicopter rotor head (clockwise)
  </description>
</model>
