<?xml version="1.0"?>
<model>
  <name>OmniQuad</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    OmniQuad - open source omni-quadcopter

    https://tilties2.github.io/omniquad-website/

    @article{mellet2024design,
      title={Design and Control of an Omnidirectional Aerial Robot with a Miniaturized Haptic Joystick for Physical Interaction},
      author={Mellet, Julien and Berra, Andrea and Marcellini, Salvatore and Soto, Miguel {\'A}ngel Trujillo and Heredia, Guillermo and Ruggiero, Fabio and Lippiello, Vincenzo},
      journal={arXiv preprint arXiv:2410.09003},
      year={2024}
    }
  </description>
</model>
